*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
    max-width: 97.2em;
}
.main-container{
    margin-left: 300px;
}
/*MENU-SECTION*/
.menu{
    background-color: #273135;
    width: 300px;
    height: 100%;
    color: white;
    font-family: "Open Sans";
    z-index: 1;
    position: fixed;
}
.menu h2{
    line-height: 70px;
    overflow: hidden;
}
.left-container{
    width: 300px;
    margin: 0 auto;
    float: left;
}
.list{
    list-style: none;
}
.list a{
    text-decoration: none;
}
.menu-bar{
    float: left;
}
.menu-bar ul{
    font-size: 12px;
    opacity: .3;
    line-height: 50px;
    padding-left: 15px;
}
/*NAVY-ICON*/
.icon{
    background-color: #1e3d7b;
}
.icon li{
    width: 275px;
    padding-right: 10px;
    padding-left: 15px;
}
.icon img{
    padding: 15px;
    height: 180px;
    width: 180px;
}
.center {
    display: block;
    margin: auto;
    width: 80%;
}
/*USER-SECTION*/
.user-profile{
    font-size: 15px;
    line-height: 15px;
    background-color: #1a3365;
    float: left;
    width: 300px;
    margin-bottom: 17px;
}
.user-profile li{
    list-style: none;
}
.user-profile img{
    padding: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: left;
}
.user-info div {
    display: block;
}
.user-name {
    font-size: 16px;
    margin-top: 20px;
}
.user-role {
    font-size: 12px;
    color: silver;
}
/*MENU-OPTIONS*/
.mini-content{
    font-size: 15px;
    line-height: 15px;
}
.mini-content li{
    width: 273px;
    padding: 5px 10px 0 15px;
    list-style: none;
}
.mini-content a{
    color: white;
    text-decoration: none;
}
.mini-content p{
    padding: 15px;
}
/*MAIN-BODY*/
.right-container{
    width: 100%;
    overflow: hidden;
    margin: 0 300px;
}
.main-content{
    margin: 0 auto;
    float: left;
    margin: 0px;
    padding: 0px;
}
/*HEADER-BAR*/
.top-bar ul {
    list-style-type: none;
    padding: 5px;
    overflow: hidden;
    background-color: #333;
}
.top-bar li {
    float: left;
}
.top-bar li a {
    display: block;
    color: silver;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 14px;
}
/*TIMELINE*/
.second-top-bar {
    float: center;
    background-color: #e6e6e6;
}
.second-top-bar ul {
    list-style-type: none;
    padding: 15px;
    overflow: hidden;
    margin-left: 360px;
}
.second-top-bar li {
    float: left;
    background-color: #b3b3b3;
    border-radius: 100px;
    padding: 5px 12px;
    margin-left: 10px;
}
.second-top-bar li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    float: center;
}
.second-top-bar div li{
    float: left;
    background-color: #1a3365;
    border-radius: 100px;
    padding: 5px 12px;
    margin-left: 10px;
}
/*WATERMARK*/
.watermark {
    width: 80px;
    height: 80px;
    opacity: .2;
    margin: 150px 800px 30px;
}
/*ABOUT-SECTION*/
.navy-logo{
    height: 10px;
    width: 10px;
    float: left;
    position: relative;
    overflow: hidden;
}
.information{
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 15px;
    background-color: #f2f2f2;
    float: left;
    width: 103.5em;
    margin-left: 300px;
    overflow: hidden;
}
.information img{
    padding: 15px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    float: left;
}
.information-section div {
    display: block;
}
.information-name {
    font-size: 16px;
    margin-top: 20px;
    color: #4775d1;
}
.information-content {
    padding: 8px;
    font-size: 14px;
    color: gray;
}
.right-container img{
    position: relative;
    top: 10px;
    width: 30px;
    height: 30px;
    float: left;
    overflow: hidden;
}
.flag {
    float: right;
    position: relative;
    font-size: 12px;
    font-style: "Open Sans"
    color: #595959;
    margin-right: 30px;
}
/*ACCORDION*/
h1 {
    text-align: center;
}
.toggle {
    float: left;
    width: 50%;
    padding: 0 15px;
    color: black;
}
.tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: black;
    overflow: hidden;
    float: left;
}
input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
    position: left;
}
span {
    color: gray;
    font-size: 12px;
}
input[type=checkbox] + label::before {
    content: "+";
}
.toggle h3 {
    text-align: left;
    width: 90%;
    font-size: 15px;
    color: black;
    font-weight: bold;
}
.cd-accordion-menu {
    float: left;
    width: 100em;
}
.cd-accordion-menu ul {
    display: none;
}
.cd-accordion-menu label::before, .cd-accordion-menu label::after, .cd-accordion-menu a::after {
    content: '';
    display: inline-block;
    width: 5px;
    position: absolute;
    top: 50%;
}
.cd-accordion-menu label {
    cursor: pointer;
}
.cd-accordion-menu label::before {
    left: 5px;
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
}
.cd-accordion-menu input[type=checkbox]:checked + label::before {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
    display: block;
}
.cd-accordion-menu label, .cd-accordion-menu a {
    padding: 0 50px;
    font-size: 15px;
}
.cd-accordion-menu label::before {
    left: 24px;
}
.cd-accordion-menu label::after {
    left: 53px;
}
.cd-accordion-menu ul label,
.cd-accordion-menu ul a {
    padding-left: 80px;
}
.cd-accordion-menu ul h3{
    padding-left: 40px;
}
.cd-accordion-menu ul label::before {
    left: 48px;
}
.cd-accordion-menu ul label::after,
.cd-accordion-menu ul a::after {
    left: 77px;
}
.cd-accordion-menu ul ul label,
.cd-accordion-menu ul ul a {
    padding-left: 130px;
}
.cd-accordion-menu ul ul h3{
    padding-left: 70px;
}
.cd-accordion-menu button {
    font-size: 12px;
    color: white;
    background-color: #1e3d7b;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 50px;
    display: inline-block;
}
.cd-accordion-menu button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.cd-accordion-menu sub-button {
    font-size: 12px;
    color: white;
    background-color: #1e3d7b;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 80px;
    display: inline-block;
}
.cd-accordion-menu sub-button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.cd-accordion-menu sub-sub-button {
    font-size: 12px;
    color: white;
    background-color: #1e3d7b;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 130px;
    display: inline-block;
}
.cd-accordion-menu sub-sub-button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
i {
    position: relative;
}
i:hover:before {
  color: lightgreen;
}
.amount{
    float: right;
    position: relative;
    font-size: 15px;
    font-style: "Open Sans"
    color: #595959;
    margin-right: 50px; 
}
.accordion-style {
    border-left: 1px dashed silver;
    opacity: 2px;
    margin-left: 29px;
}
.accordion-style-2 {
    border-left: 1px dashed silver;
    opacity: 2px;
    margin-left: 53px;
}